mysqlclient==2.1.1
python-dotenv==1.0.0
# portfolio-optimizer @ file:///home/nick/clones/project_launchpad/portfolio_optimizer-0.1.tar.gz
# sbyc-course-app @ file:///home/nick/clones/project_launchpad/sbyc_course_app-0.1.tar.gz