<!--launchpad/templates/base.html-->
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<style>
    body {
      font-size: 18px;
    }
  
    @media (max-width: 600px) {
      body {
        font-size: 16px;
      }
    }
</style>

<body>
    <h1> Hello world! </h1>
    <p>Welcome to my project list!</p>

    {% block content %}
    
    <a href = "{% url 'chart-app' %}">FNS Course maps</a>
    <br>
    <a href = "{% url 'portfolio-optimizer-index' %}">Portfolio Optimizer</a>
    <br>
    <a href = "{% url 'bvi-itinerary' %}">BVI Itinerary</a>
    
    {% endblock %}

</body>
</html>
